@media (min-width: 700px) {
   .page {
      max-width: 117rem;
      padding: 0 5rem;
   }
   header {
      margin: 9.4rem 0 8rem;
   }

   .card h2 {
      left: 4.8rem;
   }
   
   .grid{
      grid-template-areas: "cell1 cell2" "cell3 cell4";
   }
 }

 @media (min-width: 930px) {
   .grid {
      grid-template-areas: "cell1 cell2 cell2" "cell3 cell3 cell4";
   }
 }